@import 'styles';

$thickness: 8px;
$color: $grey-400;
$dark-color: $grey-600;

@mixin fill {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

@mixin thermo-part {
    box-sizing: content-box;
    position: absolute;
    content: '';
    border-style: solid;
    border-width: var(--thickness);
    border-color: var(--color);
    border-radius: 200px;
    background: var(--color);

    @include white-outline;
}

$straight-len: calc(100% + 2px);
// 0: calc(-50% - var(--thickness) - 2px);

.thermo {
    opacity: 0;

    $b: &;
    @include fill;
    overflow: visible;
    z-index: -1;

    --color: #{$grey-400};
    --thickness: 8px;
    --bulb: 75%;

    &--ghost {
        --color: #{$grey-300};
        --thickness: 4px;
        --bulb: 60%;
        z-index: 1;

        #{$b}__bulb::before {
            @include white-outline;
        }

        #{$b}__line::before {
            @include white-outline;
        }
    }

    &__bulb::before {
        @include fill;

        content: '';
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        width: var(--bulb);
        height: var(--bulb);

        border-radius: 100%;

        background: var(--color);

        @include white-outline;
    }

    &__line {
        @include fill;

        &--b::before {
            @include thermo-part;
            height: 100%;
            width: 0;
            transform: translate(-50%, var(--thickness));
            left: 50%;
            bottom: -50%;
        }

        &--t::before {
            @include thermo-part;
            height: 100%;
            width: 0;
            transform: translate(-50%, calc(var(--thickness) * -1));
            left: 50%;
            top: -50%;
        }

        &--l::before {
            @include thermo-part;
            width: 100%;
            height: 0;
            transform: translate(calc(var(--thickness) * -1), -50%);
            top: 50%;
            left: -50%;
        }

        &--r::before {
            @include thermo-part;
            width: 100%;
            height: 0;
            transform: translate(var(--thickness), -50%);
            top: 50%;
            right: -50%;
        }

        &--br::before {
            @include thermo-part;
            width: 100% * sqrt(2);
            transform-origin: var(--thickness) 50%;
            transform: rotate(45deg);
            top: calc(50% - var(--thickness));
            left: calc(50% - var(--thickness));
        }

        &--bl::before {
            @include thermo-part;
            width: 100% * sqrt(2);
            transform-origin: var(--thickness) 50%;
            transform: rotate(135deg);
            top: calc(50% - var(--thickness));
            left: calc(50% - var(--thickness));
        }

        &--tl::before {
            @include thermo-part;
            width: 100% * sqrt(2);
            transform-origin: var(--thickness) 50%;
            transform: rotate(-135deg);
            top: calc(50% - var(--thickness));
            left: calc(50% - var(--thickness));
        }

        &--tr::before {
            @include thermo-part;
            width: 100% * sqrt(2);
            transform-origin: var(--thickness) 50%;
            transform: rotate(-45deg);
            top: calc(50% - var(--thickness));
            left: calc(50% - var(--thickness));
        }
    }
}

.theme-dark .thermo {
    &__bulb::before,
    &__line::before {
        background: $dark-color;
        border-color: $dark-color;
    }
}
