@import '_var';

$thickness: 12px;

@mixin fill {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

@mixin thermo-part {
    box-sizing: content-box;
    position: absolute;
    content: '';
    border: $thickness solid $grey-300;
    border-radius: calc(#{$thickness} * 2);
    background: $grey-300;
}

$straight-len: calc(100% + 2px);
$straight-offset: calc(-50% - #{$thickness} - 2px);

.thermo {
    @include fill;
    overflow: visible;
    z-index: -1;

    &__bulb::before {
        @include fill;

        content: '';
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        width: 75%;
        height: 75%;

        border-radius: 100%;

        background: $grey-300;
    }

    &__line {
        @include fill;

        &--b::before {
            @include thermo-part;
            height: $straight-len;
            width: 0;
            transform: translateX(-50%);
            left: 50%;
            bottom: $straight-offset;
        }

        &--t::before {
            @include thermo-part;
            height: $straight-len;
            width: 0;
            transform: translateX(-50%);
            left: 50%;
            top: $straight-offset;
        }

        &--l::before {
            @include thermo-part;
            width: $straight-len;
            height: 0;
            transform: translateY(-50%);
            top: 50%;
            left: $straight-offset;
        }

        &--r::before {
            @include thermo-part;
            width: $straight-len;
            height: 0;
            transform: translateY(-50%);
            top: 50%;
            right: $straight-offset;
        }

        &--br::before {
            @include thermo-part;
            width: 145%;
            transform-origin: $thickness 50%;
            transform: rotate(45deg);
            top: calc(50% - #{$thickness});
            left: calc(50% - #{$thickness});
        }

        &--bl::before {
            @include thermo-part;
            width: 145%;
            transform-origin: $thickness 50%;
            transform: rotate(135deg);
            top: calc(50% - #{$thickness});
            left: calc(50% - #{$thickness});
        }

        &--tl::before {
            @include thermo-part;
            width: 145%;
            transform-origin: $thickness 50%;
            transform: rotate(-135deg);
            top: calc(50% - #{$thickness});
            left: calc(50% - #{$thickness});
        }

        &--tr::before {
            @include thermo-part;
            width: 145%;
            transform-origin: $thickness 50%;
            transform: rotate(-45deg);
            top: calc(50% - #{$thickness});
            left: calc(50% - #{$thickness});
        }
    }
}
