@import '_var';

$border: var(--border-width, 3px) dotted $grey-900;
$padding: var(--padding, 4px);

@mixin corner($vert, $horiz) {
    content: '';
    border: $border;
    border-#{$vert}-width: 0;
    border-#{$horiz}-width: 0;
    position: absolute;
    width: calc(#{$padding} + var(--border-width, 3px));
    height: calc(#{$padding} + var(--border-width, 3px));
    #{$vert}: 0;
    #{$horiz}: 0;
}

.killer-cage {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    --border-width: 3px;
    --padding: 4px;

    &__total {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 $padding;
        background: white;
        font-size: 16px;
        font-weight: bold;
    }

    &__cage {
        $c: &;
        padding: $padding;
        height: 100%;
        width: 100%;
        display: flex;

        &::before {
            content: '';
            height: 100%;
            width: 100%;
            border: $border;
        }

        &--has {
            &-r {
                padding-right: 1px;

                &::before {
                    border-right-width: 0;
                }

                &#{$c}--has-t:not(#{$c}--has-tr)::after {
                    @include corner(top, right);
                }

                &#{$c}--has-b:not(#{$c}--has-br)::after {
                    @include corner(bottom, right);
                }
            }
            &-l {
                padding-left: 1px;

                &::before {
                    border-left-width: 0;
                }

                &#{$c}--has-t:not(#{$c}--has-tl)::after {
                    @include corner(top, left);
                }

                &#{$c}--has-b:not(#{$c}--has-bl)::after {
                    @include corner(bottom, left);
                }
            }
            &-t {
                padding-top: 1px;

                &::before {
                    border-top-width: 0;
                }
            }
            &-b {
                padding-bottom: 1px;

                &::before {
                    border-bottom-width: 0;
                }
            }
        }
    }
}
