$cell-size: 90px;
$cell-pad: 6px;

.cell {
    $b: &;
    width: $cell-size;
    height: $cell-size;
    border: 2px solid #bcc3ce;
    border-top: none;
    border-left: none;
    background: transparent;
    overflow: hidden;
    outline: none;
    padding: 0;
    color: #5755d9;
    padding: 6px;
    position: relative;

    z-index: 0;

    &--filled {
        font-size: 48px;
    }

    &--highlighted {
        background: #f7f8f9;
    }

    &--selected {
        background: #f1f1fc;

        #{$b}__mark {
            color: #5755d9;
        }
    }

    &--focused {
        background: #f1f1fc;
        position: relative;

        &::before {
            content: '';
            border: 2px solid #5755d9;
            border-radius: 4px;
            width: 95%;
            height: 95%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            pointer-events: none;
        }
    }

    &--given {
        color: #27343b;
    }

    &:not(.cell--filled) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    &__value {
        z-index: 1;
    }

    &__mark {
        background: none;
        padding: 0;
        $border: 2px;
        $margin: 3px;
        font-size: 16px;
        color: #9ea5ad;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: $cell-size / 3 - $cell-pad / 2 - 1 - $border * 2 - $margin *
            2;
        border-radius: 4px;
        border: $border solid transparent;
        margin: $margin;

        &--can-click {
            &:hover {
                border-color: #5755d9;
                background: #f1f1fc;
                color: #5755d9;
                cursor: pointer;
            }
        }
    }

    &__num {
        position: absolute;
        right: 0;
        bottom: -2px;
        font-size: 10px;
        padding-left: 1px;
        background: #f1f1fc;
    }

    &__pos {
        position: absolute;
        left: 0;
        bottom: 0;
        font-size: 10px;
    }
}
