@import 'styles';

$btn-size: 50px;
$mobile-scale: 0.72;

$btn-margin: 2px;

.keypad {
    display: flex;
    align-items: flex-start;
    padding: $sp-8;
    border-radius: 4px;

    background: white;

    --btn-scale: 1;

    @include mobile {
        transform-origin: 50% 0;
        transform: scale(calc(var(--scale, 100) / 100));

        --btn-scale: #{$mobile-scale};
    }

    &__column {
        display: flex;
        flex-direction: column;
    }

    &__digits {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    &__button {
        min-height: calc($btn-size * var(--btn-scale));
        min-width: calc($btn-size * var(--btn-scale));

        border: 2px solid transparent;
        transition: 0.1s;

        margin: 2px;
        font-size: calc(28px * var(--btn-scale));
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;

        cursor: pointer;
        line-height: 0.8;

        &:disabled:disabled {
            color: $grey-400;
            background: $grey-200;

            cursor: initial;
        }

        i {
            font-size: calc(20px * var(--btn-scale));
            display: flex;
        }

        &--selected {
            border-color: $purple-600;
            background: $purple-200;
        }

        &--light {
            background: $purple-100;
            color: $purple-600;

            &:hover {
                background: $purple-200;

                @include mobile {
                    background: $purple-100;
                }
            }

            &:active {
                background: $purple-300;
            }
        }

        &--primary {
            background: $purple-600;
            color: white;

            &:hover {
                background: $purple-500;

                @include mobile {
                    background: $purple-600;
                }
            }
        }

        &--danger {
            background: $red-100;
            color: $red-600;

            &:hover {
                color: $red-600;
                background: $red-200;

                @include mobile {
                    background: $red-100;
                }
            }

            &:active {
                background: $red-300;
            }
        }

        &--success {
            background: $green-100;
            color: $green-600;

            &:hover {
                background: $green-200;

                @include mobile {
                    background: $green-100;
                }
            }

            &:active {
                background: $green-300;
            }
        }
    }

    &__digit {
        span {
            transition: 0.1s;
        }

        &--centre span,
        &--corner span {
            font-size: 12px;
        }

        &--corner {
            $offset: 10px;

            &:nth-child(1) span {
                transform: translate(-#{$offset}, -#{$offset});
            }
            &:nth-child(2) span {
                transform: translate(0, -#{$offset});
            }
            &:nth-child(3) span {
                transform: translate($offset, -#{$offset});
            }
            &:nth-child(4) span {
                transform: translate(-#{$offset}, 0);
            }
            &:nth-child(6) span {
                transform: translate($offset, 0);
            }
            &:nth-child(7) span {
                transform: translate(-#{$offset}, $offset);
            }
            &:nth-child(8) span {
                transform: translate(0, $offset);
            }
            &:nth-child(9) span {
                transform: translate($offset, $offset);
            }
        }
    }
}

.theme-dark .keypad {
    background: $grey-900;

    &__button {
        &:disabled:disabled {
            color: $grey-600;
            background: $grey-700;
        }

        &--selected {
            border-color: $purple-400;
        }

        &--light {
            background: $grey-800;
            color: $purple-100;

            &:hover {
                background: $grey-700;

                @include mobile {
                    background: $grey-800;
                }
            }

            &:active {
                background: $grey-600;
            }
        }

        &--danger {
            color: $red-300;
        }

        &--success {
            color: $green-300;
        }
    }
}
