@import 'styles';

$thickness: 3px;
$wing-len: 15%;

@mixin fill {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

@mixin arrow-part {
    box-sizing: content-box;
    position: absolute;
    content: '';
    border: $thickness solid $grey-300;
    border-radius: calc(#{$thickness} * 2);
    background-color: $grey-300;
}

$straight-len: calc(100% + 2px);
$straight-offset: calc(-50% - #{$thickness} - 2px);

.arrow {
    @include fill;
    overflow: visible;

    &__single {
        @include fill;
        z-index: 1;

        &::before {
            @include fill;

            content: '';
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            width: 75%;
            height: 75%;

            border-radius: 100%;

            background: white;
            border: $thickness * 2 solid $grey-300;
        }
    }

    &__double {
        @include fill;
        z-index: 1;

        &::before {
            @include fill;

            content: '';
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            width: 75%;
            height: 75%;

            border-radius: 50px;

            background: white;
            border: $thickness * 2 solid $grey-300;
        }

        &--h0::before {
            border-right: none;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            width: 75% + 25% / 2;
            left: calc(50% + (25% / 4) + 1px);
        }

        &--h1::before {
            border-left: none;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            width: 75% + 25% / 2;
            left: calc(50% - (25% / 4) - 1px);
        }

        &--v0::before {
            border-bottom: none;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            height: 75% + 25% / 2;
            top: calc(50% + (25% / 4) + 1px);
        }

        &--v1::before {
            border-top: none;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            height: 75% + 25% / 2;
            top: calc(50% - (25% / 4) - 1px);
        }
    }

    &__line {
        @include fill;

        &--b::before {
            @include arrow-part;
            height: $straight-len;
            width: 0;
            transform: translateX(-50%);
            left: 50%;
            bottom: $straight-offset;
        }

        &--t::before {
            @include arrow-part;
            height: $straight-len;
            width: 0;
            transform: translateX(-50%);
            left: 50%;
            top: $straight-offset;
        }

        &--l::before {
            @include arrow-part;
            width: $straight-len;
            height: 0;
            transform: translateY(-50%);
            top: 50%;
            left: $straight-offset;
        }

        &--r::before {
            @include arrow-part;
            width: $straight-len;
            height: 0;
            transform: translateY(-50%);
            top: 50%;
            right: $straight-offset;
        }

        &--br::before {
            @include arrow-part;
            width: 100% * sqrt(2);
            transform-origin: $thickness 50%;
            transform: rotate(45deg);
            top: calc(50% - #{$thickness});
            left: calc(50% - #{$thickness});
        }

        &--bl::before {
            @include arrow-part;
            width: 100% * sqrt(2);
            transform-origin: $thickness 50%;
            transform: rotate(135deg);
            top: calc(50% - #{$thickness});
            left: calc(50% - #{$thickness});
        }

        &--tl::before {
            @include arrow-part;
            width: 100% * sqrt(2);
            transform-origin: $thickness 50%;
            transform: rotate(-135deg);
            top: calc(50% - #{$thickness});
            left: calc(50% - #{$thickness});
        }

        &--tr::before {
            @include arrow-part;
            width: 100% * sqrt(2);
            transform-origin: $thickness 50%;
            transform: rotate(-45deg);
            top: calc(50% - #{$thickness});
            left: calc(50% - #{$thickness});
        }
    }

    &__point {
        @include fill;

        &::before {
            @include arrow-part;
            height: $wing-len;
            width: 0;
            transform-origin: top;
            translate: -50%;
            left: 50%;
            top: 50%;
        }

        &::after {
            @include arrow-part;
            height: $wing-len;
            width: 0;
            transform-origin: top;
            translate: -50%;
            left: 50%;
            top: 50%;
        }

        &--b {
            &::before {
                rotate: 45deg;
            }

            &::after {
                rotate: -45deg;
            }
        }

        &--t {
            &::before {
                rotate: -135deg;
            }

            &::after {
                rotate: 135deg;
            }
        }

        &--l {
            &::before {
                rotate: 135deg;
            }

            &::after {
                rotate: 45deg;
            }
        }

        &--r {
            &::before {
                rotate: -45deg;
            }

            &::after {
                rotate: -135deg;
            }
        }

        &--br {
            &::before {
                rotate: 0deg;
            }

            &::after {
                rotate: -90deg;
            }
        }

        &--bl {
            &::before {
                rotate: 90deg;
            }

            &::after {
                rotate: 0deg;
            }
        }

        &--tl {
            &::before {
                rotate: 180deg;
            }

            &::after {
                rotate: 90deg;
            }
        }

        &--tr {
            &::before {
                rotate: -90deg;
            }

            &::after {
                rotate: 180deg;
            }
        }
    }
}

.theme-dark .arrow {
    &__single::before,
    &__double::before {
        background: $black;
        border-color: $grey-600;
    }

    &__line::before,
    &__point::before,
    &__point::after {
        background: $grey-600;
        border-color: $grey-600;
    }
}
