@import 'styles';

$btn-size: 50px;
$btn-margin: 2px;

.player-keypad .player-keypad {
    &__corners {
        font-size: 12px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 4px 6px;
        padding-top: 10px;

        > span {
            flex: 0 0 50%;
            line-height: 9px;
        }
    }

    &__centre {
        font-size: 12px;
    }
}
