@import 'styles';

.player-keypad .player-keypad {
    &__corners {
        font-size: calc(12px * var(--btn-scale));
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 4px 6px;
        padding-top: calc(10px * var(--btn-scale));

        > span {
            flex: 0 0 50%;
            line-height: 10px;
        }
    }

    &__centre {
        font-size: calc(12px * var(--btn-scale));
    }
}
