@import '_var';

.board-container {
    position: relative;
    --size: 900px;

    width: var(--size);
    height: var(--size);
    margin: 10px;
    margin-bottom: 50px;

    overflow: hidden;

    border: 2px solid $grey-900;

    @media (max-width: 1036px) {
        --size: calc(100vw - 36px);
    }
}
