@import 'sass';

$extra: 10px;

.board-container {
    position: relative;
    margin: 6px;
    --size: 1000px;
    width: var(--size);
    height: var(--size);

    @for $i from 1 through 50 {
        $j: 10 - ($i / 5);
        @media (max-width: $j * 100px + $extra) {
            --size: #{($j - 1) * 100px};
        }
    }

    .board-sizer {
        position: absolute;
        left: 50%;
        top: 50%;

        transform: translate(-50%, -50%) scale(1);
        width: 1000px;
        height: 1000px;
        border: 2px solid $grey-900;

        @for $i from 1 through 50 {
            $j: 10 - ($i / 5);
            $scale: ($j - 1) / 10;
            @media (max-width: $j * 100px + $extra) {
                transform: translate(-50%, -50%) scale($scale);
            }
        }
    }
}
