.context-menu {
    width: min-content;
    min-width: 250px;

    position: fixed;
    left: var(--x, -10000px);
    top: var(--y, -10000px);

    opacity: 0;
    transition: 0s;
    pointer-events: none;

    &--visible {
        opacity: 1;
        transition: opacity 0.25s;
        pointer-events: initial;
    }

    &--mobile {
        position: relative;
        left: unset;
        top: unset;
        opacity: 1;
        pointer-events: initial;
        width: 100%;
    }
}
