@import '_var';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

// spectre's btn-link doesn't match the
// link styles - so use this instead
.btn-fake-link {
    border-radius: 0.1rem;
    padding: 0.2rem 0.4rem;
    border: none;
    background: none;
    margin: 0 -0.4rem;
    display: block;
    color: inherit;

    width: calc(100% + 0.8rem);
    text-align: left;
    cursor: pointer;
    box-sizing: border-box;

    transition: 0.15s;

    &:focus {
        outline: none;
    }

    &:focus,
    &:hover {
        background: $purple-100;
        color: $purple-600;
    }

    &:active {
        color: $purple-600;
        background: $purple-200;
    }
}

.form-checkbox,
.form-switch {
    cursor: pointer;
    padding: 0.2rem 0.4rem;
    padding-left: 1.6rem;
    border-radius: 2px;

    margin: 0 -0.4rem !important;

    .form-icon {
        margin-left: 0.4rem;
        margin-top: 0.1rem;
    }

    &:focus-within,
    &:hover {
        color: $purple-600;
        background: $purple-100;
    }
}

.form-switch {
    padding-left: 2.4rem;
}
