@import 'sass';

.background {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;

    background: white;

    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;

    &--diagonals {
        &::before {
            content: '';
            width: 200%;
            height: 8px;
            background: $blue-100;
            position: absolute;
            left: 0;
            top: 0;
            transform-origin: 0 50%;
            transform: translateY(-50%) rotate(45deg);
            z-index: -1;
        }

        &::after {
            content: '';
            width: 200%;
            height: 8px;
            background: $blue-100;
            position: absolute;
            left: 0;
            bottom: 0;
            transform-origin: 0 50%;
            transform: translateY(50%) rotate(-45deg);
            z-index: -1;
        }
    }
}

.background-cell {
    position: relative;
    border: 1px solid transparent;

    &--yellow {
        background: $yellow-100-2;
    }

    &--red {
        background: $red-100-2;
    }

    &--green {
        background: $green-100-2;
    }

    &--blue {
        background: $blue-100-2;
    }
}

.theme-dark {
    .background {
        background: $black;
    }

    .background-cell {
        &--yellow {
            background: $yellow-100-3;
        }

        &--red {
            background: $red-100-3;
        }

        &--green {
            background: $green-100-3;
        }

        &--blue {
            background: $blue-100-3;
        }
    }
}
