@import '_var';

.background {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;

    background: white;

    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

.background-cell {
    position: relative;
    border: 1px solid transparent;

    &--yellow {
        background: $yellow-100-2;
    }

    &--red {
        background: $red-100-2;
    }

    &--green {
        background: $green-100-2;
    }

    &--blue {
        background: $blue-100-2;
    }
}
